<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cody.rentbud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rentbud.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rentbud.activities.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            >
        </activity>
        <activity android:name="com.rentbud.activities.SignupActivity"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity android:name="com.rentbud.activities.EmailVerificationActivity">

        </activity>
        <activity android:name="com.rentbud.activities.CalendarViewFragmentActivity"
            >
        </activity>
        <activity android:name="com.rentbud.activities.SingleDateView"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name="com.rentbud.activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
    </application>

</manifest>