<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cody.rentbud">

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--MainActivity -->
        <activity
            android:name="com.rentbud.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--LoginActivity -->
        <activity
            android:name="com.rentbud.activities.LoginActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <!--SignupActivity -->
        <activity
            android:name="com.rentbud.activities.SignupActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!--EmailVerificationActivity -->
        <activity android:name="com.rentbud.activities.EmailVerificationActivity">

        </activity>
        <!--SingleDateViewActivity -->
        <activity
            android:name="com.rentbud.activities.SingleDateViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--SettingsActivity -->
        <activity
            android:name="com.rentbud.activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--TenantViewActivity -->
        <activity android:name="com.rentbud.activities.TenantViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <!--ApartmentViewActivity -->
        <activity android:name="com.rentbud.activities.ApartmentViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <!--NewApartmentFormActivity -->
        <activity
            android:name="com.rentbud.activities.NewApartmentFormActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--NewTenantFormActivity -->
        <activity
            android:name="com.rentbud.activities.NewTenantFormActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--NewLeaseFormActivity -->
        <activity
            android:name="com.rentbud.activities.NewLeaseFormActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>
</manifest>