<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rba18">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <!--MainActivity -->
        <activity
            android:name="com.rba18.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--LoginActivity -->
        <activity
            android:name="com.rba18.activities.LoginActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <!--Provider -->
        <provider
            android:name="com.rba18.helpers.CustomFileProvider"
            android:authorities="${applicationId}.helpers.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
        <!--SignupActivity -->
        <activity
            android:name="com.rba18.activities.SignupActivity"
            android:windowSoftInputMode="stateHidden" />
        <!--EmailVerificationActivity -->
        <!--SingleDateViewActivity -->
        <activity
            android:name="com.rba18.activities.SingleDateViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--SettingsActivity -->
        <activity
            android:name="com.rba18.activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--ExpenseViewActivity -->
        <activity
            android:name="com.rba18.activities.ExpenseViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--IncomeViewActivity -->
        <activity
            android:name="com.rba18.activities.IncomeViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--NewLeaseWizardActivity -->
        <activity
            android:name="com.rba18.activities.NewLeaseWizard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <!--NewTenantWizardActivity -->
        <activity
            android:name="com.rba18.activities.NewTenantWizard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <!--NewApartmentWizardActivity -->
        <activity
            android:name="com.rba18.activities.NewApartmentWizard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <!--NewExpenseWizardActivity -->
        <activity
            android:name="com.rba18.activities.NewExpenseWizard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <!--NewIncomeWizardActivity -->
        <activity
            android:name="com.rba18.activities.NewIncomeWizard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <!--LeaseViewActivity -->
        <activity
            android:name="com.rba18.activities.LeaseViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <!--ApartmentViewActivity -->
        <activity
            android:name="com.rba18.activities.ApartmentViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <!--TenantViewActivity -->
        <activity
            android:name="com.rba18.activities.TenantViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>